page-list {
  .item-profile {
    width: 10%;
    background-position: center center;
    background-size: cover;
    height: 35px;
  }

  .item-detail {
    width: 10%;
    background: white;
    position: absolute;
  }
}
